body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }

  .board {
    background-color: #777;
  } 
  
  .square {
    background: rgb(136, 29, 29);
    border: 1px solid rgb(0, 0, 0);
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 300px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .app {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  
  .app-info {
    margin-left: 20px;
  }

.imageContainer {
  text-align: center;
}